<!-- moltin.com/templates/order_paid.html -->

<!-- Order Paid -->
<table border="0" cellpadding="2" cellspacing="0" style="width: 100%;">
<tbody>
	<tr>
	   <td>
	      <p></p>
	   </td>
	   <td style="text-align: right;">
	   <p><strong>Order ID: #{{ id }}</strong></p>
	   </td>
	</tr>

	<tr>
	   <td colspan="2">
	  	 <br />
	  	  {% if customer.data.first_name %}
	  	    <p>Dear {{ customer.data.first_name }},</p>
	      {% elseif bill_to.first_name %}
	      	<p>Dear {{ bill_to.first_name }},</p>
	      {% elseif ship_to.first_name %}
	      	<p>Dear {{ ship_to.first_name }},</p>
	      {% endif %}

	      <p>Thank you for your recent order, below you will find the receipt of your order and these should be kept for your own records.</p>
	      <br />
	   </td>
	</tr>
	<tr>
	   {% if shipping %}
	   <td>
	      <p><strong>Shipping Information:</strong></p>
	      <p>
	      {% if ship_to.data.first_name %}{{ ship_to.data.first_name }}<br />{% elseif ship_to.data.last_name %}{{ ship_to.data.last_name }}<br />{% endif %}
	      {% if ship_to.data.company %}{{ ship_to.data.company }}<br />{% endif %}
	      {% if ship_to.data.address_1 %}{{ ship_to.data.address_1 }}<br />{% endif %}
	      {% if ship_to.data.address_2 %}{{ ship_to.data.address_2 }}<br />{% endif %}
	      {% if ship_to.data.city %}{{ ship_to.data.city }}<br />{% endif %}
	      {% if ship_to.data.county %}{{ ship_to.data.county }}<br />{% endif %}
	      {% if ship_to.data.postcode %}{{ ship_to.data.postcode }}<br />{% endif %}
	      {% if ship_to.data.country %}{{ ship_to.data.country.name }}{% endif %}
	      </p>
	   </td>
	   {% endif %}
	   <td>
	      <p><strong>Billing Information:</strong></p>
	      {% if bill_to.data.first_name %}{{ bill_to.data.first_name }}<br />{% elseif bill_to.data.last_name %}{{ bill_to.data.last_name }}<br />{% endif %}
	      {% if bill_to.data.company %}{{ bill_to.data.company }}<br />{% endif %}
	      {% if bill_to.data.address_1 %}{{ bill_to.data.address_1 }}<br />{% endif %}
	      {% if bill_to.data.address_2 %}{{ bill_to.data.address_2 }}<br />{% endif %}
	      {% if bill_to.data.city %}{{ bill_to.data.city }}<br />{% endif %}
	      {% if bill_to.data.county %}{{ bill_to.data.county }}<br />{% endif %}
	      {% if bill_to.data.postcode %}{{ bill_to.data.postcode }}<br />{% endif %}
	      {% if bill_to.data.country %}{{ bill_to.data.country.name }}{% endif %}
	   </td>
	</tr>
	<tr>
		<td colspan="2">
		<br />
		<br />
		<table border="0" cellpadding="2" cellspacing="0" style="width: 100%">
			<thead>
			   <tr style="border-top: 1px solid #ccc">
			    <th></th>
			   	<th style="font-weight:bold;text-align:left">Product</th>
			   	<th style="font-weight:bold;text-align:left">Unit Price</th>
			   	<th style="font-weight:bold;text-align:left">Quantity</th>
			   	<th style="font-weight:bold;text-align:left">Total</th>
			   </tr>
			</thead>

			<tfoot>
				<tr style="border-top: 1px solid #ccc">
					<td colspan="3">&nbsp;</td>
					<td><strong>Sub-total:</strong></td>
					<td align="right">{{ pricing.formatted.subtotal }}</td>
			   	</tr>
			   	{% if shipping %}
				<tr>
				 	<td colspan="3">&nbsp;</td>
				   	<td><strong>Postage:</strong></td>
				   	<td align="right">
				   		{{ pricing.formatted.shipping_price }}
				   	</td>
				</tr>
				{% endif %}
				<tr>
					<td colspan="3">&nbsp;</td>
					<td><strong>Total:</strong></td>
					<td align="right">{{ pricing.formatted.total }}</td>
				</tr>
			</tfoot>

			<tbody>
			{% for item in items %}
				<tr style="border-top: 1px solid #ccc">
					<td>
					{% if item.product.data.images is empty %}
					{% else %}
					<img src="{{ item.product.data.images.0.segments.domain }}w60/h60/fit/{{ item.product.data.images.0.segments.suffix }}" alt="{{ item.title }}" />
					{% endif %}
					</td>
					<td>{{ item.title }}<br /> Item No: {{ item.sku }}</td>
					<td align="center">{{ item.price }}</td>
					<td align="center">{{ item.quantity }}</td>
					<td align="center">{{ item.pricing.formatted.without_tax }}</td>
			 	</tr>
			{% endfor %}
			</tbody>
		</table>
		</td>
	</tr>
	<tr>
	   <td colspan="2">
	   		<p>Please note this is just a confirmation of your order, once payment has been processed and your items have been dispatched we will contact you again to let you know.</p>
	      	<br />
	      	<br />
	      	<p>Once again, thank you for your custom, and we hope to see you back soon!</p>
	   </td>
	</tr>
</tbody>
</table>
<p>	&nbsp;</p>
